# Configuration file

####################
# api
####################

api {
    # Available: TextServiceFramework, Imm32
    S:Windows=TextServiceFramework
}


####################
# debug
####################

debug {
    # Config if print debug log.
    B:DebugLog=false

    # Config if print verbose troubleshooting log.
    B:VerboseLog=false
}


####################
# general
####################

general {
    # Turn off Input Method on mouse move.
    B:TurnOffOnMouseMove=false
}


####################
# modetext
####################

modetext {
    # Text to display when in Alpha mode.
    S:AlphaMode=A

    # Text to display when in Native mode.
    S:NativeMode=中
}


####################
# theme
####################

theme {
    # ARGB hex color
    S:BackgroundColor=0xEBEBEBEB

    # ARGB hex color
    S:BorderColor=0x80000000

    # Widget border width
    I:BorderWidth=1

    # Candidate widget padding
    I:CandidatePadding=5

    # ARGB hex color
    S:CursorColor=0xFF000000

    # ARGB hex color
    S:IndexColor=0xFF555555

    # Widget padding
    I:Padding=3

    # ARGB hex color
    S:SelectedBackgroundColor=0xEBEBEBEB

    # ARGB hex color, for example 0xFF000000
    S:TextColor=0xFF000000
}


####################
# uiless
####################

uiless {
    # True asks IngameIME to render the candidate UI in-game. False uses the native Windows IME candidate UI.
    B:Windows=true
}


